<!DOCTYPE HTML>

{% load static %}

<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Learn &mdash; Free Website Template, Free HTML5 Template by freehtml5.co</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by freehtml5.co" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="freehtml5.co" />
	<!--<style>
    	textarea{
    	width : 100%;
    	text-align:center;
    	height : 100px;}
	</style>-->

 	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static 'learn/css/animate.css' %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static 'learn/css/icomoon.css' %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static 'learn/css/bootstrap.css' %}">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="{% static 'learn/css/magnific-popup.css' %}">

	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="{% static 'learn/css/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'learn/css/owl.theme.default.min.css' %}">

	<!-- Theme style  -->
	<link rel="stylesheet" href="{% static 'learn/css/style.css' %}">

	<!-- Modernizr JS -->
	<script src="{% static 'learn/js/modernizr-2.6.2.min.js' %}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="{% static 'learn/js/respond.min.js' %}"></script>
	<![endif]-->
 <style>
		#lux, #lux1 {
		border-collapse:collapse;
		font-size: 1.2em;
		margin: 25px 0;
		min-width: 400px;
		font-family: 'Quicksand', sans-serif;
		border-radius: 5px 5px 0 0;
		overflow: hidden;
		box-shadow: 0 0 20px rgba(0, 0, 0, 15);
		}
		#lux thead tr, #lux1 thead tr{
		background-color: #009879;
		color: white;
		text-align: left;
		font-weight: bold;
		}
		#lux th,td,#lux1 th,td{
		padding: 12px 15px;
		}
		#lux tbody tr:nth-of-type(even), #lux1 tbody tr:nth-of-type(even){
		background-color: white;
		}
		#lux tbody tr:last-of-type, #lux1 tbody tr:last-of-type{
		border-bottom: 2px solid #009879;
		}
		#lux tbody td, #lux1 tbody td{
		color: black;
		}
		}
	</style>

	</head>
	<body>
		
	<div class="fh5co-loader"></div>
	
	<div id="page">
	<nav class="fh5co-nav" role="navigation">
		<div class="top">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 text-left">
						<h2 style="color:white"><i>Course_code:{{v1}}</i></h2>
					</div>
					<div class="col-xs-12 text-right">
						<p class="num">Contact:Abdul Hussain Kanchwala</p>
						<p class="num">Call: +91 976 3021 551</p>
						<ul class="fh5co-social">
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
							<li><a href="#"><i class="icon-github"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="top-menu">
			<div class="container">
				<div class="row">
					<div class="col-xs-1">
						<div id="fh5co-logo"><a href="/course">SAP<span>.</span></a></div>
					</div>
					<div class="col-xs-11 text-center menu-1">
						<ul>
							<li class="btn-cta"><a href="/dm"><span>D.M</span></a></li>
							<li class="btn-cta"><a href="/course"><span>Course Outcomes</span></a></li>
							<li class="btn-cta"><a href="/show"><span>Program Outcomes</span></a></li>
							<li class="btn-cta"><a href="/contact"><span>Upload</span></a></li>
                            <li class="btn-cta"><a href="/display2"><span>Report</span></a></li>
						</ul>
					</div>
				</div>
				
			</div>
		</div>
	</nav>

	<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url({% static 'learn/images/is.jpg' %});" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Course Outcomes</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

		<div id="f1h5co-explore" class="fh5co-bg-section" >
		<div class="container">
			<div class="row animate-box" >
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading"><br><br>
					<h1 style="color:blue">Enter the Course Outcome</h1>
					<p><i><b>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</b></i> </p></div>
		<table  id="lux" width="100%">
		<thead>
    		<tr>
				<th>CO_id</th>
				<th>Course Outcome</th>
				<th>Assignments</th>
				<th>Units</th>
				<th>Insem</th>
				<th>Endsem</th>
				<th>Practicle</th>
        		<th>Termwork</th>
				<th>Options</th>
    		</tr>
		</thead>
		<tbody>
		{% for i in co %}
   			<tr>
				<td>{{ i.CO_id }}</td>
				<td>{{ i.Outcome }}</td>
				<td>{{ i.assignments }}</td>
				<td>{{ i.units }}</td>
				<td>{{ i.insem }}</td>
				<td>{{ i.endsem }}</td>
				<td>{{ i.practicle }}</td>
				<td>{{ i.TW }}</td>
				<td>
					<a href="/edit/{{ i.CO_id }}">edit</a>
					<a href="/delete/{{ i.CO_id }}">delete</a>
				</td>
    		</tr>
		{% endfor %}
		</tbody>
	</table>
        <br>
		<div id="fadeit"></div>
            <form action="/showco">
                {% csrf_token %}
                <div  class="col-md-12 text-center animate-box">
			         <button class="btn btn-primary btn-lg btn-learn">Add new CO</button>
			    </div>
            </form>
		<br><br><br><br>
		<h2>Mapping :</h2>
				<table  id="lux1" width="100%">
		<thead>
    		<tr>
				<th>CO_id</th>
				<th>PO1</th>
				<th>PO2</th>
				<th>PO3</th>
				<th>PO4</th>
				<th>PO5</th>
				<th>PO6</th>
        		<th>PO7</th>
				<th>PO8</th>
				<th>PO9</th>
				<th>PO10</th>
				<th>PO11</th>
				<th>PO12</th>
				<th>options</th>
    		</tr>
		</thead>
		<tbody>
		{% for i in po %}
   			<tr>
				<td>{{ i.CO_id_id }}</td>
				<td>{{ i.VPO1 }}</td>
				<td>{{ i.VPO2 }}</td>
				<td>{{ i.VPO3 }}</td>
				<td>{{ i.VPO4 }}</td>
				<td>{{ i.VPO5 }}</td>
				<td>{{ i.VPO6 }}</td>
				<td>{{ i.VPO7 }}</td>
				<td>{{ i.VPO8 }}</td>
				<td>{{ i.VPO9 }}</td>
				<td>{{ i.VPO10 }}</td>
				<td>{{ i.VPO11 }}</td>
				<td>{{ i.VPO12 }}</td>
				<td>
					<a href="/editmap/{{ i.CO_id_id }}">edit</a>
				</td>
    		</tr>
		{% endfor %}
		</tbody>
	</table>
				<br>
				<form action="/pricing">
                {% csrf_token %}
                <div  class="col-md-12 text-center animate-box">
			         <button class="btn btn-primary btn-lg btn-learn">NEXT</button>
			    </div>
            </form>
</div></div>
	</div>
	<div id="fh5co-explore" class="fh5co-bg-section">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2 style="color:blue">Take A Course</h2>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
				</div>
			</div>
		</div>		
		<div class="fh5co-explore fh5co-explore1">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-push-5 animate-box">
						<img class="img-responsive" src="{% static 'learn/images/work_1.png' %}" alt="work">
					</div>
					<div class="col-md-4 col-md-pull-8 animate-box">
						<div class="mt">
							<h3 style="color:blue">We Want You To Learn English</h3>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
							<ul class="list-nav">
								<li><i class="icon-check2"></i>Far far away, behind the word</li>
								<li><i class="icon-check2"></i>There live the blind texts</li>
								<li><i class="icon-check2"></i>Separated they live in bookmarksgrove</li>
							</ul>
							<p><a class="btn btn-primary btn-lg popup-vimeo btn-video" href="https://vimeo.com/channels/staffpicks/93951774"><i class="icon-play"></i> Watch Video</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="fh5co-explore">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-pull-1 animate-box">
						<img class="img-responsive" src="{% static 'learn/images/work_1.png' %}" alt="work">
					</div>
					<div class="col-md-4 animate-box">
						<div class="mt">
							<div>
								<h4 style="color:blue"><i class="icon-user"></i >Real Project For Real Solutions</h4>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia. </p>
							</div>
							<div>
								<h4 style="color:blue"><i class="icon-video2"></i>Real Project For Real Solutions</h4>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
							</div>
							<div>
								<h4 style="color:blue"><i class="icon-shield"></i>Real Project For Real Solutions</h4>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia. </p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



	<footer id="fh5co-footer" role="contentinfo">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-3 fh5co-widget">
					<h4>About Learning</h4>
					<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
				</div>
				<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
					<h4>Learning</h4>
					<ul class="fh5co-footer-links">
						<li><a href="#">Course</a></li>
						<li><a href="#">Blog</a></li>
						<li><a href="#">Contact</a></li>
						<li><a href="#">Terms</a></li>
						<li><a href="#">Meetups</a></li>
					</ul>
				</div>

				<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
					<h4>Learn &amp; Grow</h4>
					<ul class="fh5co-footer-links">
						<li><a href="#">Blog</a></li>
						<li><a href="#">Privacy</a></li>
						<li><a href="#">Testimonials</a></li>
						<li><a href="#">Handbook</a></li>
						<li><a href="#">Held Desk</a></li>
					</ul>
				</div>

				<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
					<h4>Engage us</h4>
					<ul class="fh5co-footer-links">
						<li><a href="#">Marketing</a></li>
						<li><a href="#">Visual Assistant</a></li>
						<li><a href="#">System Analysis</a></li>
						<li><a href="#">Advertise</a></li>
					</ul>
				</div>

				<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
					<h4>Legal</h4>
					<ul class="fh5co-footer-links">
						<li><a href="#">Find Designers</a></li>
						<li><a href="#">Find Developers</a></li>
						<li><a href="#">Teams</a></li>
						<li><a href="#">Advertise</a></li>
						<li><a href="#">API</a></li>
					</ul>
				</div>
			</div>

			<div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
						<small class="block">&copy; 2016 Free HTML5. All Rights Reserved.</small> 
						<small class="block">Designed by <a href="http://freehtml5.co/" target="_blank">FreeHTML5.co</a> Demo Images: <a href="http://unsplash.co/" target="_blank">Unsplash</a></small>
					</p>
					<p>
						<ul class="fh5co-social-icons">
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-linkedin"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
						</ul>
					</p>
				</div>
			</div>

		</div>
	</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src="{% static 'learn/js/jquery.min.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'learn/js/jquery.easing.1.3.js' %}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'learn/js/bootstrap.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static 'learn/js/jquery.waypoints.min.js' %}"></script>
	<!-- Stellar Parallax -->
	<script src="{% static 'learn/js/jquery.stellar.min.js' %}"></script>
	<!-- Carousel -->
	<script src="{% static 'learn/js/owl.carousel.min.js' %}"></script>
	<!-- countTo -->
	<script src="{% static 'learn/js/jquery.countTo.js' %}"></script>
	<!-- Magnific Popup -->
	<script src="{% static 'learn/js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'learn/js/magnific-popup-options.js' %}"></script>
	<!-- Main -->
	<script src="{% static 'learn/js/main.js' %}"></script>

	</body>
</html>

